<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dev Sheth</title>
</head>
<body>
    <h1>Welcome to Dev Sheth's Page!</h1>
<!-- These are paragraphs that describe parts of my life. -->
    <h2>College Experience</h2>
        <p>Over the course of the last <em>four</em> years, I've had a <strong>blast</strong> being a student at
        the <strong>Robert H. Smith School of Business!</strong> I've met lots of amazing people but the
        best part of it was <em>soaking</em> up all the knowledge that I could to get ready for the professional world.</p>

    <h2>What's Next?</h2>
        <p>Following my <em>graduation</em> this coming May, I will be starting my career at <strong>Deloitte</strong>
        as a <em>Risk & Financial Advisory Analyst.</em> I can't wait to start my next chapter in life and develop my
        soft and technical <strong>skills.</strong></p>
<!-- These are unordered and ordered lists of some of my favorite things. -->
    <p>Favorite Sports Teams: </p>
    <ul>
        <li>Washington Commanders</li>
        <li>Washington Wizards</li>
        <li>Washington Nationals</li>
        <li>Washington Capitals</li>
    </ul>

    <p>Favorite Foods: </p>
    <ol>
        <li>Tacos</li>
        <li>Pizza</li>
        <li>Korean BBQ</li>
        <li>Drunken Noodles</li>
    </ol>

    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT443</td>
            <td>Fall 2022</td>
        </tr>
        <tr>
            <td>BMGT230</td>
            <td>Fall 2019</td>
        </tr>
        <tr>
            <td>BMGT441</td>
            <td>Spring 2023</td>
        </tr>
    </table>

    <p>Here is the link to <a> href= "hello.html">my hello page</a>.</p>
<!-- These are links to my favorite websites. -->
    <p>Here is the link to <a> href= "https://sportsbook.fanduel.com/">Fanduel</a>, one of my favorite websites.</p>
    <p>Here is the link to <a> href= "https://www.youtube.com/" target = "_blank">YouTube</a>, one of my favorite websites.</p>

    <a href = "https://rhsmith.umd.edu" target="_blank"><img
    src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267"
    height="72" alt="Smith Logo"></a>

</body>
</html>